{% extends "registration/base.html" %}
{% load i18n %}


{% block title %}
    <center>
      <h1 class="page_title">{%blocktrans%}Log in{%endblocktrans%}</h1>
  </center>
{% endblock %}


{% block content %}

<link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />

<center>
  <h1 class="page_subtitle" style="margin-top:15px">{%blocktrans%}I connect with Facebook{%endblocktrans%}</h1>

  <form action="{% url facebook_connect %}" method="post">
      <br />
      {% csrf_token %}
      <input type="hidden" value="{% if next %}{{next}}{% else %}{% url home %}{% endif %}" name="next" />

      <div id="facebook_login_redirect">
          <input type="image" class="django_facebook" src="{{ STATIC_URL }}django_facebook/images/{% trans 'facebook_login.png' %}" /><br />
      </div>
  </form>


  <h1 class="page_subtitle">{%blocktrans%}I connect with my account{%endblocktrans%}</h1>

	{% url auth_password_reset  as url_reset %}
	<p>{%blocktrans %}If you have lost your password, you can <a href="{{url_reset}}">reset your password</a>{%endblocktrans%}</p>

	{% if form.errors %}
	<p class="errors">{%blocktrans%}Please correct the errors below:{%endblocktrans%}</p>
	{% endif %}

	<br>
	<form method="post" action="?next={% if next %}{{next}}{% else %}{% url home %}{% endif %}">{% csrf_token %}
	<table style="margin-left:auto;margin-right:auto;"  class="form">
		{{form.as_table}}
	</table>
	<br>
	<input type="submit" value="{%blocktrans%}Log in{%endblocktrans%}" />
	</form>






	<h1 class="page_subtitle">{%blocktrans%}I do not have an account, I create one{%endblocktrans%}</h1>


    {% if form_register.errors %}
    <p class="errors">{%blocktrans%}Please correct the errors below:{%endblocktrans%} {{ form_register.non_field_errors }}</p>
    {% endif %}

    
    <form method="post" action="{% url registration_register %}" class="wide">
      {% csrf_token %}
  	<table class="form">
      <tr>
        <th>
          * {{form_register.username.label_tag}}:
        </th>
        <td style="padding-right: 75px;">
          {{form_register.username.errors}}
          {{form_register.username}}
        </td>
        <th>
          {{form_register.first_name.label_tag}}:
        </th>
        <td>
          {{form_register.first_name.errors}}
          {{form_register.first_name}}
        </td>
      </tr>
      <tr>
        <th>
          * {{form_register.email.label_tag}}:
        </th>
        <td>
          {{form_register.email.errors}}
          {{form_register.email}}
        </td>
        <th>
          {{form_register.last_name.label_tag}}:
        </th>
        <td>
          {{form_register.last_name.errors}}
          {{form_register.last_name}}
        </td>
      </tr>
      <tr>
        <th>
          * {{form_register.password1.label_tag}}:
        </th>
        <td>
          {{form_register.password1.errors}}
          {{form_register.password1}}
        </td>
        <th>
        </th>
        <td>
        </td>
      </tr>
      <tr>
        <th>
          * {{form_register.password2.label_tag}}:
        </th>
        <td>
          {{form_register.password2.errors}}
          {{form_register.password2}}
        </td>
        <th>
        </th>
        <td>
        </td>
      </tr>
    </table>
      <p class="submit"><input type="submit" value="{% trans 'Sign up' %}"></p>
    </form>

</center>
<br><br>


{% include 'django_facebook/_facebook_js.html' %}


{% endblock %}
