
{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}
    <center>
      <h1 class="page_title">{% trans 'Password change' %}</h1>
  </center>
{% endblock %}
{% block content %}


<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<center>
<form action="" method="post">
{% csrf_token %}
	<table>
  {{form.as_table}}
</table>
<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>
</center>


{% endblock %}

{% block content-related %}

{% endblock %}