{% extends "registration/base.html" %}
{% load i18n %}


{% block title %}
    <center>
      <h1 class="page_title">
      	{% if validlink %}
      		{%blocktrans%}Enter new password{%endblocktrans%}
      	{% else %}
      		{% trans 'Password reset unsuccessful' %}
      	{% endif %}
      </h1>
  </center>
{% endblock %}


{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<center>
<form action="" method="post">
	{% csrf_token %}
{{ form.new_password1.errors }}
<table>
	{{form}}
</table>
<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>

</center>
{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
