{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
    <meta property="og:title" content="Agility Training: {{course.name}}" />
    <meta property="og:description" content="{{course.description}}" />

    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://agility-training.fr/{% url preview_course course.id %}" />

    <script src="{{STATIC_URL}}agility/js/raphael-min.js"></script>
    <script src="{{STATIC_URL}}agility/js/raphael.export.js"></script>
    <script src="{{STATIC_URL}}agility/js/canvg/StackBlur.js"></script>
    <script src="{{STATIC_URL}}agility/js/canvg/rgbcolor.js"></script>
    <script src="{{STATIC_URL}}agility/js/canvg/canvg.js"></script>
    <script src="{{STATIC_URL}}agility/js/editor/editor.js"></script>
{% endblock %}

{% block title %}
    <center>
        <h1 class="page_title">{{course.name}}</h1>
  </center>
{% endblock %}


{% block content_full %}

<table width="100%">
    <tr>
        <td>
            <div style="padding-left:20px;float:left;">
                <p>{% trans 'Author' %}: {{course.user.get_full_name}}
            </div>
        </td>
        <td>
            <div style="padding-left:20px;float:right;">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
            </div>
        </td>
    </tr>
</table>

<div style="text-align:center;width:100%;">
  <img src="" id="editor_image">
</div>
<div style="padding-left:20px">
    <p>{{course.description}}</p>
</div>

<div style="padding-left:20px">
    <p><label for="share_link">{% trans 'Share link' %}</label>: </b> <input style="width:70%" id="share_link" type="text" name="share_link" value="{{course.get_share_url}}" maxlength="255"></p>
</div>
        

<script>
    $(function() {
      document.getElementById("editor_image").src = '{{course.preview}}';
    });
</script>

{% endblock %}